.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    padding: 2vmax;
    color: rgba(0, 0, 0, 0, 67);
    font: 500 1.5vmax Roboto;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    min-height: 89.2vh;
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    background-color: white;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.17);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}

.page-item:first-child {
    border-radius: 5px 0 0 5px;
}

.page-item:last-child {
    border-radius: 0 5px 5px 0;
}

.page-link {
    text-decoration: none;
    font: 100 0.7vmax Roboto;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
}

.page-item:hover {
    background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
    color: black;
}

.pageItemActive {
    background-color: #203847;
}

.pageLinkActive {
    color: white;
}

.filterBox {
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    left: 4vmax;
}

.categoryBox {
    padding: 0;
}

.category-link {
    list-style: none;
    color: rgba(0, 0, 0, 0.6);
    font: 400 0.8vmax Roboto;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover {
    color: #203847;
}

.filterBox>fieldset {
    border: 1px solid rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 640px) {
    .filterBox {
        width: 20vmax;
        margin: auto;
        position: static;
    }

    .page-link {
        font: 300 1.7vmax Roboto;
    }

    .category-link {
        font: 400 1.8vmax Roboto;
    }
}