.layout-footer {
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    height: fit-content;
    padding: 1.2vmax 0;
    color: white;
    position: relative;
    bottom: 0;
}

.layout-footer>.footer-btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    padding: 0.5vmax 0;
    transition: all 0.5s;
    width: 8vmax;
    height: fit-content;
    font: 500 1vmax 'Roboto';
}

.layout-footer>.footer-btn:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.layout-footer img {
    width: 110px;
    position: absolute;
    left: 5px;
}